
.row {
  display: flex;
  flex-direction: column;
}

.column {
  flex: 50%;
  padding: 2%;
}

table.dataframe, .dataframe th, .dataframe td {
  border: none;
  border-bottom: 1px solid #C8C8C8;
  border-collapse: collapse;
  padding: 10px;
  margin-bottom: 40px;
  font-size: 0.9em;
  margin-left: auto;
  margin-right: auto;
}

th {
    background-color: #7abbd0;
    color: white;
    text-align: center;
}

tr:nth-child(odd) {
  background-color:#eee;
  text-align: right;
}

tr:nth-child(even)	{
  background-color:#fff;
  text-align: right;
}

tr:hover {
  background-color: #ffff99;
  text-align: right;
}

.table_button {
  background-color: #008CBA; /* Blue */
  border: none;
  color: white;
  margin: 5%;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  width: 50%;
}

.button {
    color: #fff !important;
    text-transform: uppercase;
    background: #60a3bc;
    padding: 20px;
    border-radius: 50px;
    display: inline-block;
    border: none !important;
    margin: auto;
    display: block;
    font-size: 16px;
    width: 50%;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}

.button:hover{
    background-color:#4095c6;
    color: #000 !important;
}

.mainTable {
    border: none;
    border-collapse: collapse;
    padding: 10px;
    margin-bottom: 40px;
    font-size: 0.9em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 70%;
}

.td {
    background-color: #ffffff;
}

.tr {
    color: black;
    text-align: center !important;
}

.td:hover {
  background-color: #ffff99;
  text-align: right;
}

img {
  width: 60%;
  margin: auto;
  display: block;
}