<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Datos sobre COVID</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <h1 style="text-align:center;"> Casos confirmados durante {{ mes | upper }}</h1>
    {% for table in tables %}
        <p style="text-align:center;"><strong>Provincia: {{ titles }}</strong></p>
        {{ table|safe }}
    {% endfor %}
<!--    <p style="text-align:center;"> Gráfico de comparación Canarias - Madrid </p>
    <img src="/plot.png" alt="my plot" width="100%">  -->
</body>
</html>