<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Datos sobre COVID</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <h1 style="text-align:center;"> Casos confirmados durante {{ mes | upper }}</h1>

    {% if tipo_datos == 'default' %}
        <a class="button" href="{{ url_for('mostrar_datos', provincia=key, tipo_datos='grafico') }}">
            ver gráfico
        </a>
        {% for table in tables %}
            <p style="text-align:center;"><strong>Provincia: {{ titles }}</strong></p>
            {{ table|safe }}
        {% endfor %}
    {% else %}
        <a class="button" href="{{ url_for('mostrar_datos', provincia=key, tipo_datos='default') }}">
            ver tabla
        </a>
        <p style="text-align:center;"><strong>Número de casos en {{ titles }}</strong></p>
        <img src="{{ url_for('static', filename = 'graphics/graph.png') }}" alt="my plot">
    {% endif %}
    <a class="button" href="{{ url_for('index') }}">INICIO</a>
</body>
</html>